<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AGORA</title>
    <link rel="stylesheet" href="../static/css/category.css">
</head>
<body>

    <header class="navbar">
        <a href="index.html" class="logo">AGORA</a>

<a href="login.html" class="nav-buttons button">connexion </a>
<a href="login.html" class="nav-buttons button">inscription</a>
        <div class="search-box">
            <input type="text" placeholder="Rechercher...">
        </div>

        <div class="nav-buttons">
            <button>Connexion</button>
            <button class="signup">Inscription</button>
        </div>
    </header>

    <div class="container">

        <aside class="sidebar">
            <h3>Forums</h3>
            <ul>
                <li>A/Ynov</li>
                <li>A/Programmation</li>
                <li>A/Gaming</li>
                <li>A/News</li>
            </ul>
        </aside>

        <main class="feed">

            <article class="post">
                <div class="votes">
                    ▲
                    <span>124</span>
                    ▼
                </div>

                <div class="post-content">
                    <span class="community">A/Programmation</span>
                    <h2>a</h2>
                    <p>
                       b
                    </p>
                    <div class="post-info">
                        67 commentaires
                    </div>
                </div>
            </article>

            <article class="post">
                <div class="votes">
                    ▲
                    <span>853</span>
                    ▼
                </div>

                <div class="post-content">
                    <span class="community">A/News</span>
                    <h2>Combat en cage Remy/Jules</h2>
                    <p>
                        Un combat épique a eu lieu hier soir entre deux champions.
                    </p>
                    <div class="post-info">
                        67 commentaires
                    </div>
                </div>
            </article>

            <article class="post">
                <div class="votes">
                    ▲
                    <span>432</span>
                    ▼
                </div>

                <div class="post-content">
                    <span class="community">A/Gaming</span>
                    <h2>p</h2>
                    <p>
                        Partagez vos réactions !
                    </p>
                    <div class="post-info">
                        67 commentaires
                    </div>
                </div>
         
            </article>
         <article class="post">
                <div class="votes">
                    ▲
                    <span>432</span>
                    ▼
                </div>

                <div class="post-content">
                    <span class="community">A/Gaming</span>
                    <h2>C</h2>
                    <p>
                        Partagez vos réactions !
                    </p>
                    <div class="post-info">
                        67 commentaires
                    </div>

                </div>
            </article>

                     <article class="post">
                <div class="votes">
                    ▲
                    <span>432</span>
                    ▼
                </div>

                <div class="post-content">
                    <span class="community">A/Ynov</span>
                    <h2>Le retour de Germain DJE </h2>
                    <p>
                        Partagez vos réactions !
                    </p>
                    <div class="post-info">
                        67 commentaires
                    </div>

                </div>
            </article>
        </main>

    </div>

</body>
</html>