<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AGORA</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>

    <header class="navbar.category">
        <a href="index.html" class="logo.category">AGORA</a>

<a href="login.html" class="nav-buttons.category button">connexion </a>
<a href="login.html" class="nav-buttons.category button">inscription</a>
        <div class="search-box.category">
            <input type="text" placeholder="Rechercher...">
        </div>

        <div class="nav-buttons.category">
            <button>Connexion</button>
            <button class="signup.category">Inscription</button>
        </div>
    </header>

    <div class="container.category">

        <aside class="sidebar.category">
            <h3>Forums</h3>
            <ul>
                <li data-forum="Ynov">A/Ynov</li>
                <li data-forum="Programmation">A/Programmation</li>
                <li data-forum="Gaming">A/Gaming</li>
            </ul>
        </aside>

        <main class="feed.category">
            
            {{if .IsLoggedIn}}
                {{if .RecentCategories}}
                <div class="recent-categories.category">
                    <h3>Récemment visitées</h3>
                    <ul>
                        {{range .RecentCategories}}
                        <li>
                            <a href="/category?id={{.CategorieID}}">
                                {{.Name}}
                            </a>
                        </li>
                        {{end}}
                    </ul>
                </div>
                {{end}}
            {{end}}

            <article class="post.category">
                <div class="votes.category">
                    ▲
                    <span>124</span>
                    ▼
                </div>

                <div class="post-content.category">
                    <span class="community.category">A/Programmation</span>
                    <h2>a</h2>
                    <p>
                       1
                    </p>
                    <div class="post-info.category">
                        67 commentaires
                    </div>
                </div>
            </article>

            <article class="post.category">
                <div class="votes.category">
                    ▲
                    <span>853</span>
                    ▼
                </div>

                <div class="post-content.category">
                    <span class="community.category">A/News</span>
                    <h2>Combat en cage Remy/Jules</h2>
                    <p>
                       1
                    </p>
                    <div class="post-info.category">
                        67 commentaires
                    </div>
                </div>
            </article>

            <article class="post.category">
                <div class="votes.category">
                    ▲
                    <span>432</span>
                    ▼
                </div>

                <div class="post-content.category">
                    <span class="community.category">A/Gaming</span>
                    <h2>p</h2>
                    <p>
                        1
                    </p>
                    <div class="post-info.category">
                        67 commentaires
                    </div>
                </div>
         
            </article>
         <article class="post.category">
                <div class="votes.category">
                    ▲
                    <span>432</span>
                    ▼
                </div>

                <div class="post-content.category">
                    <span class="community.category">A/Gaming</span>
                    <h2>C</h2>
                    <p>
                        Partagez vos réactions !
                    </p>
                    <div class="post-info.category">
                        67 commentaires
                    </div>

                </div>
            </article>

                     <article class="post.category">
                <div class="votes.category">
                    ▲
                    <span>432</span>
                    ▼
                </div>

                <div class="post-content.category">
                    <span class="community.category">A/Ynov</span>
                    <h2>Le retour de Germain DJE </h2>
                    <p>
                       1
                    </p>
                    <div class="post-info.category">
                        67 commentaires
                    </div>
                </div>
            </article>
        </main>
    

    <script src="../static/js/category-animations.js"></script>

</body>
</html>