<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connexion — Agora</title>
    <link rel="stylesheet" href="../static/css/login.css">
</head>
<body>

    <div class="login-container">

        <div class="login-header">
            <h2>Connexion</h2>
        </div>

        {{if .Error}}
        <div class="message-box message-error">{{.Error}}</div>
        {{end}}

        {{if .Success}}
        <div class="message-box message-success">{{.Success}}</div>
        {{end}}

        <div id="messageBox" style="display:none;" class="message-box"></div>

        <form id="loginForm">
            <div class="input-group">
                <label for="email">Adresse mail</label>
                <input type="email" id="email" name="email" placeholder="Entrez votre email" required>
            </div>

            <div class="input-group">
                <label for="password">Mot de passe</label>
                <input type="password" id="password" name="password" placeholder="Entrez votre mot de passe" required>
            </div>

             <button onclick="LogAccount(document.getElementById('email').value, document.getElementById('password').value)" type="button" class="login-btn">
                Se connecter
            </button>

            
            <p>Pas encore de compte ? </p>
            <button type="button" class="login-btn" onclick="window.location.href='/register'">S'inscrire</button>
        </form>

        <a href="/" class="back-btn">← Retour à l'accueil</a>

    </div>

