{{define "header"}}
<!doctype html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Agora</title>

    <link rel="stylesheet" href="/static/css/style.css" />

    <link rel="icon" href="/static/img/icons/icon.png" />
  </head>
  <body>
    <header class="main-header">
      <nav class="navbar">
        <div class="logo">
          <a href="/">
            <img
              src="/static/img/icons/icon.png"
              alt="Logo Agora"
              width="50"
            />gora
          </a>
        </div>

        <form action="/search" method="GET" class="search-bar-form">
          <div class="search-input-container">
            <span class="search-icon">🔍</span>
            <input
              type="text"
              name="q"
              placeholder="Trouver tout et n'importe quoi sur Agora..."
              autocomplete="off"
            />
          </div>
        </form>

        <div class="user-menu">
          {{if .IsAuth}}
          <div class="user-logged-menu">
            <span class="username">u/{{.Username}}</span>
            <a href="/logout" class="btn-logout">Déconnexion</a>
          </div>
          {{else}}
          <a href="/login" class="btn-login">Connexion</a>
          {{end}}
        </div>
      </nav>
    </header>
    {{end}}
  </body>
</html>
